src/main/mule/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a394693a-6b93-44d6-815d-9f641f5c97fd" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloworldFlow" doc:id="ddcbee15-e0b2-4953-b1dc-61f75dd07ece" >
		<http:listener doc:name="Listener" doc:id="159bc37a-7a4e-4b81-b398-234f51f464ab" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value='#["hello world"]' doc:name="Set Payload" doc:id="cbc2ead5-40b7-4403-8a1d-9997c88797c9" />
	</flow>
</mule>
